* {
  /* style scrollbars */
  scrollbar-color: #00000050 #00000010; /* firefox */
  scrollbar-width: thin; /* firefox */
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #00000010;
}

::-webkit-scrollbar-thumb {
    background: #00000050;
}

/* override the background color of the selected item sidebar when dark theme */
.dark-mode aside .dark\:bg-primary-900{
  --bg-opacity: 0.3;
}

